
.navbar {
    box-shadow: 0 3px 3px rgba(0, 0, 0, .3);
}

span {
    color: red;
}

#scrollReport {
    color: white;
    background-color: black;
    padding: 10px, 10px;
    border-radius: 4px;
    opacity: .7;
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 100;
    font-size: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .5);
    padding: 10px;
}

#scrollReport:hover {
    opacity: .9;
}

section .container {
    opacity: .3;
    transform: scale(.9);
    transition: all .3s ease;
}

section.is-active .container {
    opacity: 1;
    transform: scale(1);
}
