* {
    box-sizing: border-box;
    font-family: '標楷體';
    overflow: hidden;
}

/* box-sizing: border-box 限制網頁頁面只能在自己規定的大小裡面
overflow:hidden內容超出的話不顯示



*/

.main {
    background-color: rgb(86, 187, 128);
    display: flex;
    width: 1024px;
    padding: 0 12px;
    margin: 10px auto;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}




/*body內除了aside跟section都要上border
aside內上border(menu updata)
section 內上border(marquee content)*/
body>*:not(aside, section), aside>*, section>* {
    border: 1px solid rgb(118, 255, 255);
}
.top {
    flex-basis: 1000px;
    height: 65px;
    
}
/*flex-basis是寬度
flex-direction是高度*/
.aside {


    
    flex-basis: 215px;
    height: calc(768px - 65px - 20px);
    display: flex;
    flex-direction: column;
    border:5px solid red;
}
/*flex-basis 優先度比width高 
flex-direction 優先度比height高
*/ 


/* aside .menu*/

.menu {
    /*對於元件basis主軸長度*/
    flex-basis: calc(100% - 25px);
    height: 65px;
    border:5px solid yellowgreen;
    
}

/* aside .menu*/

.updata {
    /*對於元件basis主軸長度*/
    flex-basis: 25px;
    border:5px solid yellow;
}

/*section*/

.section {
    flex-basis: calc(1000px - 215px);
    display: flex;
    flex-flow: column nowrap;
}

.marquee {
    flex-basis: 29px;
    padding: 0 calc((100% - 770px - 2px) /2);
    
}

.content{
    flex-basis:calc(100% - 29px);
    padding:calc((100% - 770px - 2px) /2);
}

.footer {
    flex-basis: 1000px;
    height: 20px;
    color: black; 
    
}